h1 {
	background: linear-gradient(180deg, rgba(63,94,251,1) 0%, rgba(89,175,217,1) 24%, rgba(201,86,191,1) 35%, rgba(152,76,205,1) 75%, rgba(70,86,252,1) 100%);
	font-size: 50px;
	padding: 60px;
}


p {
	background: linear-gradient(90deg, rgba(255,0,0,1) 30%, rgba(121,9,81,1) 45%);
	font-size: 50px;

}
ul {
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,48,255,1) 50%, rgba(252,79,70,1) 100%);
	font-size: 50px;
	padding: 60px;
}