p{
	padding: 30px;
}
h1 {
	text-align: center;
	font-size: 50px
}

.a{background-color:#8EADDE }
.b{background-color: rgb(1,99,12)}
.c{background-color: #BAA5E8}
.d{background-color:rgb(0,42,82)}
.e{background-color:#995F6C}
.f{background-color:rgb(255,242,0)}
.g{background-color:#89C992}
.h{background-color:rgb(255,47,0)}
.i{background-color:#FFB5E4}
.j{background-color:rgb(36,181,181)}