@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Prata&family=Raleway:wght@200&display=swap');

h1 {
	text-align: center;
	font-weight: bold;
	font-size: 50px;
	margin: 30px;
	font-family: "Prata";
	letter-spacing: 20px;
}

p { 
	margin: 70px;
	text-align: justify;
	font-family: "Raleway";
	font-size: 25px;
	column-count: 3;
	line-height: 1.5;

}

.signature {
	margin:  60px;
	font-size: 70px;
	font-family: "Parisienne";
	column-count: 1;
}

body {
background: rgb(255,95,95);
background: linear-gradient(90deg, rgba(255,95,95,1) 0%, rgba(252,210,70,1) 100%);
}