@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Libre+Baskerville&display=swap');

body {
	margin: 0px;
	background-color: beige;
}
header{
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
font-family: "Kanit";
}
header h1{
height: 350px;
display: flex;
justify-content: center;
align-items: center;
background-image: url("mainphoto.jpg");
background-position: center;
background-size: cover;
font-size: 45px;
color: white;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;
width: 1700px;
height: 500px;
border: 10px solid brown;
}


main{
	background-color: beige;
	font-size: 15px;
	padding: 20px
}

main h2{
	color: brown;
	font-family: "Libre Baskerville";
}

section {
display: flex;
justify-content: space-between;
align-items: stretch;
color: black;
}

section .left{
width: 70%;
background: rgb(255,207,138);
background: linear-gradient(90deg, rgba(255,207,138,1) 12%, rgba(193,129,91,1) 92%);
display: flex;
justify-content: center;
align-items: center;
padding: 30px;
border: solid brown;
font-size: 35px;
font-family: "Kanit";
}

section .right{
width: 30%;
background: rgb(193,129,91);
background: linear-gradient(90deg, rgba(193,129,91,1) 57%, rgba(193,129,91,1) 60%);
font-size: 25px;
padding: 30px;
border: solid beige;
font-family: "Libre Baskerville";
}

#index {
background: rgb(255,207,138);
background: linear-gradient(90deg, rgba(255,207,138,1) 12%, rgba(193,129,91,1) 92%);
color: brown;
padding: 20px;
}
#index p {
	font-size: 30px;
}
#index h2 {
	font-size: 40px;
	font-family: "Kanit";
}

#products section.info{
	padding: 50px;
	background-color: black;	
	font-size: 20px;
	color: white;

}

#products section h2.info{
	color: white;
	font-size:30px ;

}


 #products #products{
 	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
 }

#products #products img{
	width:230px ;
	margin: 10px;
	border: 3px solid brown;

}


nav{
background-color: beige;
justify-content: space-between;
align-items: center;
padding: 30px;
}

nav img{
height: 70px;
border-radius: 50%;
}

nav ul{
display: flex;
justify-content: flex-end;
align-items: center;
list-style-type: none;
}

nav ul li a{
margin: 20px;
padding: 20px;
text-decoration: none;
border-radius: 15px;
background-color: brown;
color: white;
font-size: 25px;
font-family: "Libre Baskerville"
}
}

h2 {
	color: white;
}


.footer{
	height: 150px;
	width: 1300px;
}



footer{
	height: 150px;
	width: 1300px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: brown;
	background-position: center;
	background-size: cover;
	padding: 20px;


}

footer p{
background-color: white;
padding: 12px;
border-radius: 17px;
font-size: 25px;
	font-family: "Kanit";

}
footer p:hover{
color: white;


}


#products main{
	display: flex;
	justify-content: space-around;
	gap:30px ;  
	flex-wrap: wrap;

}
#products header {

	background-position: center;
	background-size: cover;

}


article{
position: relative;
}

article h1{
font-family: "Kanit";
}

article .text{
	width:280px ;
	height: 150px;
	background-color:ghostwhite ;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;


}
  article .text .mini-header{
  	font-size: 14px;
  	position: relative;
  	left: -5px;
  	text-transform: uppercase;
  	font-family: "Libre Baskerville";

  }



 article .text .mini-footer{
 	display: flex;
 	align-items: center;
 	justify-content: space-between;
 	font-size:19px;
 	color: black;
 	width:100% ;
 	position: relative;
 	left: -3px;
 	top: -31px;
 	column-gap: 7px;
 	font-family: "Libre Baskerville";

 }

article .text .mini-header span{
	margin-right: 7px;

}
article .box{
	background-color: red;
	padding: 6px;
	text-transform:uppercase ;
	position: absolute;
	top: 189px;
	left: 0px;
	color: white;
	flex-wrap: wrap;
}


article .dessert1{
	width: 280px;
	height: 180px;
	background-image: url("dessert1.jpg");
	background-position: center;
	background-size: cover;
	padding: 20px;
	flex-wrap: wrap;
}

article .dessert2{
	width: 280px;
	height: 180px;
	background-image: url("dessert2.jpg");
	background-position: center;
	background-size: cover;
	padding: 20px;
	flex-wrap: wrap;
	}

	article .dessert3{
	width: 280px;
	height: 180px;
	background-image: url("dessert3.jpg");
	background-position: center;
	background-size: cover;
	padding: 20px;
	flex-wrap: wrap;

}

article .dessert4{
	width: 280px;
	height: 180px;
	background-image: url("dessert4.jpg");
	background-position: center;
	background-size: cover;
	padding: 20px;
	flex-wrap: wrap;
	}

	article .dessert5{
	width: 280px;
	height: 180px;
	background-image: url("dessert5.jpg");
	background-position: center;
	background-size: cover;
	padding: 20px;
	flex-wrap: wrap;
}

article .dessert6{
	width: 280px;
	height: 180px;
	background-image: url("dessert6.jpg");
	background-position: center;
	background-size: cover;
	padding: 20px;
	flex-wrap: wrap;
}


	article h1{
	position: relative;
	top: -20px;

	}